@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap');
@import './styles/_groups.css';
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Barlow Condensed', sans-serif;
  background-color: var(--primary-bg-color);
  color: rgb(255, 255, 255);
}

:root {
  --primary-bg-color: rgb(19, 19, 19);
  --secondary-bg-color: rgb(45, 45, 45);
  --group-color: rgb(64, 64, 64);
}
